<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650304992286-08lsg32fgr77ildsnvmsieljult9v8ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650304992286-08lsg32fgr77ildsnvmsieljult9v8ie</string>
	<key>API_KEY</key>
	<string>AIzaSyA6VjdF1o9uSMzrdSzPa5JtQZ5-7xCB6J8</string>
	<key>GCM_SENDER_ID</key>
	<string>650304992286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.stepanzalis.uhkevents</string>
	<key>PROJECT_ID</key>
	<string>uhk-events</string>
	<key>STORAGE_BUCKET</key>
	<string>uhk-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650304992286:ios:a0df7113e106687c43ea0f</string>
	<key>DATABASE_URL</key>
	<string>https://uhk-events.firebaseio.com</string>
</dict>
</plist>